<!-- To add more icons, duplicate a section and find yout icon here -> https://fontawesome.com/v6.0/icons -->

<div class="social-links">
    
    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank"  rel="noopener">
            <img src="{{site.url}}/assets/images/fa/github.svg" alt="GitHub">
        </a>
    {% endif %}
    
    {% if site.facebook %}
        <a class="link" data-title="facebook.com/{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">
            <i class="fa-brands fa-facebook"></i>
        </a>
    {% endif %}

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">
            <i class="fa-brands fa-twitter"></i>
        </a>
    {% endif %}

    {% if site.scholar %}
        <a class="link" data-title="scholar.google.com/{{ site.scholar }}" href="https://scholar.google.com/{{ site.scholar }}" target="_blank"  rel="noopener">
            <img src="{{site.url}}/assets/images/fa/scholar.svg" alt="Scholar">
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"  rel="noopener">
            <img src="{{site.url}}/assets/images/fa/linkedin.svg" alt="LinkedIn">
        </a>
    {% endif %}

    {% if site.instagram %}
        <a class="link" data-title="instagram.com/{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}" target="_blank"  rel="noopener">
            <img src="{{site.url}}/assets/images/fa/instagram.svg" alt="Instagram">
        </a>
    {% endif %}

    {% if site.email %}
    <!-- placeholder for email link -->
    <span id="em"></span>
    <script>
        const a = "sasha";
        const b = "fedchin";
  const user = a + "." + b;
  const domain = "gmail.com";
  const addr = `${user}@${domain}`;

  // Create <a> the same way as the others
  const link = document.createElement("a");
  link.className = "link";
  link.href = `mailto:${addr}`;
  link.setAttribute("rel", "noopener");
  link.setAttribute("data-title", "Email");
  link.innerHTML = `<img src="{{ site.url }}/assets/images/fa/telegram.svg" alt="Email">`;

  // Insert into the same container
  document.currentScript.parentElement.appendChild(link);
</script>
  {% endif %}
</div>
