// Colours

$primary-highlight: #5f4fa8;
$secondary-highlight: #5f4fa8;
$tertiary-highlight: #5f4fa8;
$hover-highlight:rgb(37, 0, 202);

$sidebar-colour: #bbc3c2;
$hover-colour: #777685;
$description-colour: #474747;
$text-colour-light: rgb(0, 0, 0);
$text-colour-dark: black;

$table-background-colour: #252424;

// Sizes

$sidebar-width: 330px;
$sidebar-height-min: 50px;
$sidebar-height: 100px;