---
layout: default
---

{% if page.mathjax %}
  {% include mathjax.html %}
{% endif %}

<section class="content">
  <svg id="content-fader"></svg>
  <div class="post">
    
    <div class="clickable-image"><a href="{{ site.url }}{{ page.images.top }}" style="max-width: 80%">
      <img class="post-image" alt="{{ page.title }} | {{ page.description | truncate: 80 }}" src="{{ site.url }}{{ page.images.top }}" />
    </a></div>
    <div class="post-title"><h1>{{ page.title }}</h1></div>
    <div class="post-description">{{ page.description }}</div>
    <div class="post-header">
      <span class="post-date">{{ page.date | date_to_string}}</span>
      <span class="post-tags">{{ page.tags | join: ", "}} CC BY-NC-SA 3.0</span>
    </div>

    <div class="post-content">
      {{ content }}
    </div>

    <div class="post-buttons">
      {% if page.urls.source %}
        <a href="{{ page.urls.source }}" class="button-light-secondary">See the source</a>
      {% endif %}
      {% if page.urls.download %}
        <a href="{{ page.urls.download }}" class="button-light-tertiary">Download {{ page.title }}</a>
      {% endif %}
    </div>
  </div>
</section>